---
import ImageModal from "../components/ImageModal.astro";
import Layout from "../layouts/Layout.astro";
import LandscapeSection from "../components/LandscapeSection.astro";
---

<Layout>
    <div
        class="min-h-screen w-full bg-black pb-70
                md:h-full md:w-full
                lg:h-full lg:w-full
                xl:h-auto xl:w-full"
    >
        <div class="h-65 w-full flex flex-col items-center justify-end">
            <h3 class="text-white">2025</h3>
            <h1 class="text-white">Landscapes</h1>
            <h2 class="text-white">
                A journey through mountains, forests, and valleys
            </h2>
        </div>

        <div class="w-full">
            <div class="h-10 w-full"></div>
            <LandscapeSection />
        </div>
    </div>
    <ImageModal />
</Layout>
