---
import ImageModal from "../components/ImageModal.astro";
import Layout from "../layouts/Layout.astro";
import PortafolioSection from "../components/PortafolioSection.astro";
---

<Layout>
    <div class="h-full w-full bg-black">
        <div class="h-65 w-full flex flex-col items-center justify-end">
            <h1 class="text-white">Portafolio</h1>
            <h2 class="text-white">A collection of moments</h2>
        </div>

        <div class="w-full h-220">
            <div class="h-10 w-full"></div>
            <PortafolioSection />
        </div>
    </div>
    <ImageModal />
</Layout>
