---
import PortraitsSection from "../components/PortraitsSection.astro";
import ImageModal from "../components/ImageModal.astro";
import Layout from "../layouts/Layout.astro";
import UrbanSection from "../components/UrbanSection.astro";
---

<Layout>
    <div class="h-full w-full bg-black">
        <div class="h-65 w-full flex flex-col items-center justify-end">
            <h3 class="text-white">2025</h3>
            <h1 class="text-white">Urban</h1>
            <h2 class="text-white">
                A journey through mountains, forests, and valleys
            </h2>
        </div>

        <div class="w-full h-220">
            <div class="h-10 w-full"></div>
            <UrbanSection />
        </div>
    </div>
    <ImageModal />
</Layout>
