---
const { imagen, title, url } = Astro.props;
---

<a
    href={url || "#"}
    class="group relative block bg-black w-full h-full overflow-hidden"
>
    <img
        alt="Imagen de respaldo"
        src={imagen.src}
        class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
    />

    <div
        class="relative p-4 sm:p-6 lg:p-8 h-full flex flex-col justify-between"
    >
        <div>
            <p
                class="text-sm font-medium tracking-widest text-pink-500 uppercase"
            >
            </p>
            <p class="text-xl font-bold text-white sm:text-2xl"></p>
        </div>

        <div>
            <div
                class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
            >
                <p class="text-2xl text-white">{title}</p>
            </div>
        </div>
    </div>
</a>
